html {
  text-align: left;
  font-family: Verdana;
  background-color: #bfebff;
  margin: 0px;
}

.title-bar {
  background-color: #44819e;
  padding: 10px;
  color: white;
  text-decoration: none;
  margin: 0px;
}


.title-bar h1 {
  color: #ffffff;
}

.title-bar p {
  color: #cfd1e0;
}

h1 {
  font-weight: bolder;
  color: #424656;
  text-align: left;
}

h2 {
  color: #424656;
  font-weight: bold;
  text-decoration-line: underline;
}

h4 {
  text-align: left;
}

p {
  color: #424656;
  text-align: left;
}

img {
  max-width: 25%;
  float: right;
}

.license {
  font-size: x-small;
  text-align: center;
}

.contact-socials {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.white-link {
  color: white;
  text-decoration: none;
}

.white-link:hover {
  text-decoration: underline;
}

.nav-links {
  display: flex;
  gap: 20px; /* spacing between links */
  margin: 0;
  padding: 0;
}
