html {
  text-align: left;
  font-family: Verdana;
  background-color: #272727;
  margin: 0px;
}

.title-bar {
  background-color: #d3d3d3;
  padding: 10px;
  color: white;
  text-decoration: none;
  margin: 0px;
}


.menutext{
  color:#424242;}

h1 {
  font-weight: bolder;
  color: #fdfeff;
  text-align: left;
}

h2 {
  color: #fdfeff;
  font-weight: bold;
  text-decoration-line: underline;
}

h4 {
  text-align: left;
}

p {
  color: #fdfeff;
  text-align: left;
}

img {
  max-width: 25%;
  float: right;
}

.license {
  font-size: x-small;
  text-align: center;
}

.contact-socials {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.white-link {
  color: white;
  text-decoration: none;
}

.white-link:hover {
  text-decoration: underline;
}

.nav-links {
  display: flex;
  gap: 20px; /* spacing between links */
  margin: 0;
  padding: 0;
}
